fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx

langchain
langchain-core
langchain-text-splitters
langchain-chroma
langgraph

langchain-groq
langchain-mistralai

langchain-huggingface
sentence-transformers

chromadb

GitPython
PyGithub

mcp
langchain-mcp-adapters

typer
rich